@import url('https://fonts.googleapis.com/css2?family=Roboto');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto' , sans-serif;
  color: white;
  background-color: black;
}

header {
  padding: 0 60px;
  margin-top: 15px;
  max-width: 1440px;
  margin: 15px auto 0;
  height: 70px;
}

header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 75px;
  color: #C5C5C5;
  float: left;
}

header h1 span {
  color:#FFD600;
}

.searchbox-wrap {
  max-width: 350px;
  float: right;
  margin-top: 15px;
}

.searchbox {
  display: block;
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: solid 1px #9A9A9A;
  outline: none;
  background: none;
  color: #9A9A9A;
  font-size: 18px;
  font-weight: 700;
  transition: 0.4s ease-out;
}


.results {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}

.results .singleResult {
	width: 20%;
	padding: 15px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.results .singleResult img{
	display: block;
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.results .singleResult img:hover , .relatedMovie img:hover{
  outline: 2px solid #FFD600;
}

.results .singleResult h3, .relatedMovie h3 {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width: 80%;
  margin: auto;
  transform: translate(0px, -80px);
  flex: 1 1 100%;
  transition: 0.4s ease-out;
}


.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
  background-color: #00000080;
	overflow-y: scroll;
}

.popup .content {
  display: block;
  position: relative;
  width: 90%;
  max-width: 1045px;
  max-height: 450px;
  height: 90%;
  margin: 0 auto;
  /* padding: 25px; */
  color: #FFF;
  background: antiquewhite;
  margin-top: 7%;
  border: 3px solid #FFD600;
}

.popup .content .background {
  height: 100%;
  width: 100%;
  background: #000;
  position: absolute;
}

.popup .content .background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: top; */
  opacity: 0.5;
}

.popup .content .data {
  padding: 30px;
  position: absolute;
  width: 100%;
}


.popup .content h2 {
	font-size: 28px;
	font-weight: 600;
}
.popup .content h2 span {
	font-weight: 300;
	font-size: 20px;
}

.popup .content .movieDataCont {
    height: 70px;
    width: 100%;
}

.popup .content .plot {
	display: flex;
	flex-wrap: wrap;
  margin: 0px -15px 30px;
  height: 65px;
}

.popup .content .movieData {
  width: 20%;
  float: left;
  padding: 5px 20px 5px 0;
} 

.popup .content .movieData p {
  margin-top: 7px;
}

.popup .content .plot img {
	flex: 1 1 50%;
	max-width: 300px;
	padding: 0px 15px;
}

.popup .content .plot p {
	flex: 1 1 50%;
	padding: 15px;
}

.popup .content .close {
	display: inline-block;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: 700;

	background: #FFD600;
	color: #000;
	border-radius: 8px;
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;
	transition: 0.4s ease-out;
}

.popup .content .btn {
    display: inline-block;
    padding: 15px 0;
    width: 180px;
    font-size: 18px;
    font-weight: 700;
    background: #FFD600;
    color: #000;
    border-radius: 12px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    transition: 0.4s ease-out;
    margin-top: 10%;
    display: block;
}

.popup .content .btn:hover {
	background: #ffde30;
}


main {
  margin: 10px auto 0;
  padding: 0 60px;
  max-width: 1440px;
  height: 100%;
}

main p .downArrow {
  height: 12px;
}

.resultTabs {
  margin-top: 40px;
}

.tab-list {  
  padding-left: 0;
  font-weight: bold;
}

.tab-list-item:first-of-type {
  margin: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  margin: 0.5rem 1.75rem;
  padding: 2px;
  cursor: pointer;
}

.tab-list-active {
  border: solid #FFD600;
  border-width: 0 0 2px;
}

.secondaryColor {
  color: #FFD600;
}

.movieDataSection {
  display: inline-block;
  width: 100%;
  height: 500px;
  background: #151515;
  padding: 15px;
  margin: 0 0 30px;
}

.movieDataSection h2 {
  margin-bottom: 12px;
  color: #c5c5c5;
}

.movieDataSection .poster {
  float: left;
  height: 100%;
  width: 40%;
}

.movieDataSection .poster img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.movieDataSection .data {
  width: 60%;
  float: left;
  padding-left: 30px;
}

.movieDataSection .data h2 {
  font-size: 26px;
  color: #FFD600;
}

.movieDataSection .data .movie-summary {
  margin: 20px 0;
}

.movieDataSection .data .movie-summary p {
  margin-bottom: 10px;
}

.movieDataSection .data {
  margin-bottom: 30px;
  list-style: none;
}

.star-rating {
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 2px;
  height: 1em;
  line-height: 1.1;
  font-size: 15px;
  font-size: 1em;
  width: 4.7em;
  font-family: "FontAwesome";
  margin: 0 5px;
}
.star-rating:before {
  content: "\f005\f005\f005\f005\f005";
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  color: #c5c5c5;
}

.star-rating span:before {
  content: "\f005\f005\f005\f005\f005";
  top: 0;
  position: absolute;
  left: 0;
  color: #ffd600;
}

.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}

.movie-meta, .starring {
  margin-bottom: 30px;
  list-style: none;
}

.movie-meta li, .starring li {
  margin-bottom: 10px;
}

.movie-meta li strong, .starring li strong {
  color: #c5c5c5;
}

.trailer_frame {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 35%;
  padding-top: 10px;
  height: 0;
}

.trailer_frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.relatedMovie {
  float: left;
  width: calc(16.6% - 15px);
  margin: 0 5px 10px 10px;
  position: relative;
  cursor: pointer;
}

.relatedMovie img {
  max-width: 100%;
  width: 100%;
}

.movieRelatedSec {
  height: 353px;
  padding: 5px;
}

.movieRelatedSec h2 {
  padding: 10px 10px 0px;
}

.rating {
  font-size: 20px;
  margin: 2px -3px !important;
}

@media (max-width: 840px) {
  .results .singleResult {
    width: 33%;
  }
  .movieDataSection .poster {
    width: 100%;
    height: 250px;
  }
  .movieDataSection .data {
    width: 100%;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .movieDataSection {
    height: unset;
  }
}

@media (max-width: 785px) {
.relatedMovie {
    float: left;
    width: calc(33.3% - 15px);
    margin: 0 5px 0px 10px;
    position: relative;
}
.popup .content .plot {
  margin: 0px -15px 0px;
  height: unset;
}
.popup .content .movieData {
  min-width: 33.3%;
  height: 75px;
}
.popup .content .movieDataCont {
  height: 150px;
}
.popup .content .btn {
  margin-top: 7%;
}
}

@media (max-width: 570px) {
  header {
    height: 130px;
    padding: 0 30px;
  }
  .headerPage {
    height: 0;
  }
  main {
    padding: 0 30px;
  }
  .searchbox-wrap {
    float: none;
    max-width: none;
  }
  .results .singleResult {
    width: 50%;
  }
  .popup .content .movieData {
    min-width: 50%;
    height: 80px;
  }
  .popup .content .movieDataCont {
    height: 220px;
  }
  .popup .content {
    max-height: unset;
  }
  .relatedMovie {
    width: calc(50% - 18px);
  }
}


@media (max-width: 540px) {
.movie ul {
    float: none;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
.popup .content .movieData {
  min-width: 50%;
  height: 100px;
}
.popup .content {
  height: 100%;
}
}

@media (max-width: 400px) {
  .results .singleResult {
    width: 100%;
  }
  .relatedMovie {
    width: calc(100% - 22px);
  }
}
